<h2>Post: </h2>
</br>
<%= @this_post.post%>
</br>
 <span style="font-size: 75%; color: #999">autor: <%= @this_post.autor%></span>
 </br>
  <span style="font-size: 75%; color: #999">created_at: <%= @this_post.created_at%></span>
</br>
</br>
<hr/>
<hr/>
</br>
<h2>Comments: </h2>
</br>
<% Comment.order("created_at DESC").each do |comment|%>

  <% if comment.posts_id == @this_post.id %>
    <p>
     <%= comment.comment%>
      </br>
      </br>

     <span style="font-size: 75%; color: #999">autor: <%= comment.autor%></span>
   </br>
     <span style="font-size: 75%; color: #999">created_at: <%= comment.created_at%></span>
  </br>
  </br>
  <hr/>
   </p>
  <% end%>

<% end%>
</br>
</br>
<form action="/comments/<%= @this_post.id%>" method="POST" >
  <textarea name="content" class="form-control" rows="6" placeholder="your comment"></textarea>
</br>
<input name="autor" type="text" class="form-control" placeholder="your name">
</br>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
